# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
# 1. Bỏ qua thư mục dữ liệu Database (Sửa lỗi mysql.sock)
wordpress/db_data/

# 2. Bỏ qua file cấu hình (Bảo mật - Chứa mật khẩu)
wp-config.php

# 3. Bỏ qua thư mục chứa hình ảnh/media do người dùng tải lên
wp-content/uploads/

# 4. Bỏ qua các file rác của hệ điều hành
.DS_Store
Thumbs.db